*{
    font-family: "Roboto";
}
body{
    height: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    background-image: url(https://i.pinimg.com/originals/3a/0b/40/3a0b40d96c53860572a1c29970ce14a8.gif);
}
h1{
    color: #ffffff;
    font-size: 144px;
    font-weight: 300;
}

